[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = { version = "0.4", default-features = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
toml = "0.8"
